<pipelinesSection>
  <pipelines>
    <!-- Add a RIDL/WinRT pipeline for testing. -->
    <add
      contentSet="AllJoyn"
      indexTitle="AllJoyn API reference"
      name="AllJoyn native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\AllJoyn\xml"
      outputFolderPath="C:\Temp\API reference\AllJoyn\output_html"
      siteConfigReferenceRoot="/Reference">
    </add>
    <!-- Add a COM/IDL pipeline for testing. -->
  </pipelines>
</pipelinesSection>