<!-- This content set collects all of the Analog APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- This pipeline collects all of the Analog APIs that are represented in Windows.winmd. -->
    <add
      contentSet="Analog"
      indexTitle="v0.2 MPC API reference"
      name="Analog DevPlat RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\MikeOBJFolder\MPC\doxyout\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      winmdFilePath="C:\Temp\API reference\MikeOBJFolder\Windows.winmd"
      siteConfigReferenceRoot="/reference">
      <namespaces>
        <add name="Windows.Human.*" />
        <add name="Windows.World.*" />
        <add name="Windows.Graphics.Display" />
        <add name="Windows.Graphics.Holographic" />
        <add name="Windows.Foundation.Geometry" />
        <add name="Windows.Foundation.Numerics" />
        <add name="Windows.ApplicationModel.Core" />
      </namespaces>
    </add>
    <!-- This pipeline represents the native 3D audio (HRTF) API surface. -->
    <add
      contentSet="Analog"
      indexTitle="3D Audio (HRTF) API reference"
      name="Analog HRTF pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\MikeOBJFolder\HRTF\doxyout\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/reference">
    </add>
    <!-- This pipeline represents the native mixed-reality capture (MRC) API surface. -->
    <add
      contentSet="Analog"
      indexTitle="MRC API reference"
      name="Analog MRC pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\MikeOBJFolder\MRC\doxyout\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/reference">
      <namespaces>
        <add name="Windows.Media.MixedRealityCapture" />
      </namespaces>
    </add>

    <!-- This pipeline represents the native Windows.Graphics.Display.Interop API surface. -->
    <add
      contentSet="Analog"
      indexTitle="Graphics Interop"
      name="Analog graphics interop pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\MikeOBJFolder\Interop\doxyout\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/reference">
    </add>
    <!-- The HSimulation pure-managed pipeline. -->
    <add
      contentSet="Analog"
      indexTitle="HSimulation API reference"
      name="HSimulation pure-managed pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\MikeOBJFolder\HSimulator\doxyout\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/reference">
    </add>
  </pipelines>
</pipelinesSection>
