<!-- This content set collects all of the Analog APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- This pipeline collects all of the Analog APIs that are represented in Windows.winmd. -->
    <add
      contentSet="Analog"
      indexTitle="v0.9 MPC API reference"
      name="Analog DevPlat RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\analog_core_idl\xml"
      outputFolderPath="C:\Temp\API reference\analog_core_idl\html"
      winmdFilePath="C:\Temp\API reference\analog_core_idl\Windows.winmd"
      siteConfigReferenceRoot="">
      <namespaces>
        <add name="Windows.Perception.*" />
        <add name="Windows.Graphics.*" />
        <add name="Windows.UI.Input.Spatial.*" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>