<pipelinesSection>
  <pipelines>
    <!-- Add a RIDL/WinRT pipeline for testing. -->
    <add
      contentSet="Analog"
      indexTitle="v0.2 MPC API reference"
      name="Analog DevPlat RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\source_ridl\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      winmdFilePath="C:\Temp\API reference\source_ridl\Windows.winmd"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Windows.Human" />
        <add name="Windows.World" />
        <add name="Windows.Foundation.Numerics" />
        <add name="Windows.Foundation.Geometry" />
        <add name="Windows.Graphics.DirectX" />
        <add name="Windows.Graphics.Display" />
      </namespaces>
    </add>
    <!-- Add a COM/IDL pipeline for testing. -->
    <add
      contentSet="Analog"
      indexTitle="HRTF API reference"
      name="Analog HRTF pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\source_idl\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
    </add>
    <!-- Add the HSimulation pure-managed pipeline. -->
    <add
      contentSet="Analog"
      indexTitle="HSimulation API reference"
      name="HSimulation pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\HSimulation\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="HSimulator" />
      </namespaces>
    </add>
    <!-- Add the MRC RIDL pipeline. -->
    <add
      contentSet="Analog"
      indexTitle="MRC API reference"
      name="MRC RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\mrc_idl\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      winmdFilePath="C:\Temp\API reference\mrc_idl\Windows.winmd"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Windows.Media.MixedRealityCapture" />
      </namespaces>
    </add>
    <!-- Add the DUSK2 pure-managed pipeline. -->
    <add
      contentSet="Analog"
      indexTitle="DUSK2 API reference"
      name="DUSK2 pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\Dusk2\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Dusk2" />
      </namespaces>

    </add>

  </pipelines>
</pipelinesSection>