<pipelinesSection>
  <pipelines>
    <!-- This content set collects all of the analog APIs that are represented in Windows.winmd. Useful for generating IntelliSense. -->
    <add
      contentSet="Analog"
      indexTitle="v0.2 MPC API reference"
      name="Analog DevPlat RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\analog_core_idl\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      winmdFilePath="C:\Temp\API reference\analog_core_idl\Windows.winmd"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Windows.Human" />
        <add name="Windows.World" />
        <add name="Windows.Foundation.Numerics" />
        <add name="Windows.Foundation.Geometry" />
        <add name="Windows.Graphics.DirectX" />
        <add name="Windows.Graphics.Display" />
        <!--<add name="Windows.Media.MixedRealityCapture" />-->
      </namespaces>
    </add>
    <!-- This pipeline represents the native 3D audio (HRTF) API surface. -->
    <!--<add
      contentSet="Analog"
      indexTitle="3D Audio (HRTF) API reference"
      name="Analog HRTF pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\analog_hdk\HRTF\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
    </add>-->
    <!-- This pipeline represents the native mixed-reality capture (MRC) API surface. -->
    <!--<add
      contentSet="Analog"
      indexTitle="MRC API reference"
      name="Analog MRC pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\analog_hdk\MRC\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Media.MixedRealityCapture" />
      </namespaces>
    </add>-->
    <!-- This pipeline represents the native Windows.Graphics.Display.Interop API surface. -->
    <add
      contentSet="Analog"
      indexTitle="Graphics Interop"
      name="Analog graphics interop pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\analog_hdk\Interop\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
    </add>
  </pipelines>
</pipelinesSection>