<!-- This content set collects all of the Contoso APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- This pipeline collects all of the Contoso APIs that are represented in Contoso.winmd. -->
    <add
      contentSet="Contoso"
      indexTitle="v0.2 API reference"
      name="Contoso Platform RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\contoso_core_idl\xml"
      outputFolderPath="C:\Users\jg\Documents\DemoSite\DemoSite\content\Reference"
      winmdFilePath="C:\Temp\API reference\contoso_core_idl\Contoso.winmd"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Contoso.ApplicationModel.Core" />
        <add name="Contoso.Graphics.Display" />
        <add name="Contoso.Graphics.Face" />
      </namespaces>
    </add>
    <!-- This pipeline represents the native 3D audio API surface. -->
    <add
      contentSet="Contoso"
      indexTitle="3D Audio API reference"
      name="Contoso pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\contoso_sdk\xml"
      outputFolderPath="C:\Users\jg\Documents\DemoSite\DemoSite\content\Reference"
      siteConfigReferenceRoot="/Reference">
    </add>
    <!-- This pipeline represents the native API surface. -->
    <add
      contentSet="Contoso"
      indexTitle="Contoso native API reference"
      name="Contoso pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\contoso_sdk\native\xml"
      outputFolderPath="C:\Users\jg\Documents\DemoSite\DemoSite\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Contoso.Media.NativeCapture" />
      </namespaces>
    </add>

    <!-- This pipeline represents the native Contoso.Graphics.Display.Interop API surface. -->
    <add
      contentSet="Contoso"
      indexTitle="Graphics Interop"
      name="Contoso graphics interop pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\contoso_sdk\Interop\xml"
      outputFolderPath="C:\Users\jg\Documents\DemoSite\DemoSite\content\Reference"
      siteConfigReferenceRoot="/Reference">
    </add>
    <!-- The pure-managed pipeline. -->
    <add
      contentSet="Contoso"
      indexTitle="Managed API reference"
      name="Contoso pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\contoso_sdk\managed\xml"
      outputFolderPath="C:\Users\jg\Documents\DemoSite\DemoSite\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="CSimulator" />
      </namespaces>
    </add>
    <!-- The DUX pure-managed pipeline. -->
    <add
      contentSet="Contoso"
      indexTitle="DUX API reference"
      name="DUX pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\contoso_sdk\DUX\xml"
      outputFolderPath="C:\Users\jg\Documents\DemoSite\DemoSite\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="DUX" />
      </namespaces>
    </add>

  </pipelines>
</pipelinesSection>