<!-- This content set collects all of the Analog APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- The DUSK2 pure-managed pipeline. -->
    <add
      contentSet="Analog"
      indexTitle="Unity (DUSK2) API reference"
      name="DUSK2 pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\analog_hdk\Dusk2\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Dusk2" />
        <add name="UPB" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>