<!-- This content set collects the DX12 APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- This pipeline represents the native DX12 API surface. -->
    <add
      contentSet="DX12"
      indexTitle="DirectX 12"
      name="DX12 pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\DX12\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\DX12"
      siteConfigReferenceRoot="/DX12">
    </add>
  </pipelines>
</pipelinesSection>