<pipelinesSection>
  <pipelines>
    <!-- Add a pure managed (no assembly) pipeline for testing. -->
    <!--<add
      contentSet="GenTopicsUniversal"
      indexTitle="GenTopicsUniversal API reference (from C# source code only)"
      name="GenTopicsUniversal pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\GenTopicsUniversal\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_pure_managed"
      siteConfigReferenceRoot="/GTU_reference_pure_managed">
      <namespaces>
        <add name="OsgContentPublishing.ReferencePipelineLib" />
      </namespaces>
    </add>-->
    <!-- Add a managed (with assembly) pipeline for testing. -->
    <add
      contentSet="GenTopicsUniversal"
      indexTitle="GenTopicsUniversal.exe API reference"
      name="GenTopicsUniversal.exe pipeline"
      pipelineType="ManagedAssemblyPipeline"
      inputFolderPath="C:\Temp\API reference\GenTopicsUniversal\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
      assemblyFilePath="C:\Temp\API reference\GenTopicsUniversal\GenTopicsUniversal\bin\Debug\GenTopicsUniversal.exe"
      siteConfigReferenceRoot="/GTU_reference_managed_assembly">
      <namespaces>
        <add name="OsgContentPublishing.GenTopicsUniversal.*" />
      </namespaces>
    </add>

    <add
      contentSet="GenTopicsUniversal"
      indexTitle="ReferencePipelineLib API reference"
      name="ReferencePipelineLib pipeline"
      pipelineType="ManagedAssemblyPipeline"
      inputFolderPath="C:\Temp\API reference\GenTopicsUniversal\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
      assemblyFilePath="C:\Temp\API reference\GenTopicsUniversal\GenTopicsUniversal\bin\Debug\ReferencePipelineLib.dll"
      siteConfigReferenceRoot="/GTU_reference_managed_assembly">
      <namespaces>
        <add name="OsgContentPublishing.ReferencePipelineLib.*" />
      </namespaces>
    </add>
    <add
      contentSet="GenTopicsUniversal"
      indexTitle="ReflectionUtilities API reference"
      name="ReflectionUtilities pipeline"
      pipelineType="ManagedAssemblyPipeline"
      inputFolderPath="C:\Temp\API reference\GenTopicsUniversal\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
      assemblyFilePath="C:\Temp\API reference\GenTopicsUniversal\GenTopicsUniversal\bin\Debug\ReflectionUtilities.dll"
      siteConfigReferenceRoot="/GTU_reference_managed_assembly">
      <namespaces>
        <add name="ReflectionUtilities.*" />
      </namespaces>
    </add>
    <!--<add
      contentSet="GenTopicsUniversal"
      indexTitle="ReflectionUtilities API reference (C# source code only)"
      name="ReflectionUtilities pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\ReflectionUtilities_pure_managed\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_pure_managed"
      siteConfigReferenceRoot="/GTU_reference_pure_managed">
      <namespaces>
        <add name="ReflectionUtilities" />
      </namespaces>
    </add>-->
  </pipelines>
</pipelinesSection>