<pipelinesSection>
  <pipelines>
    <!-- Add a pure managed (no assembly) pipeline for testing. -->
    <add
      contentSet="GenTopicsUniversal"
      indexTitle="GenTopicsUniversal API reference (from C# source code only)"
      name="GenTopicsUniversal pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\ReflectionPipelineLib\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
      siteConfigReferenceRoot="/GTU_reference_managed_assembly">
      <namespaces>
        <add name="OsgContentPublishing.ReferencePipelineLib" />
      </namespaces>
    </add>
    <!-- Add a managed (with assembly) pipeline for testing. -->
    <add
      contentSet="GenTopicsUniversal"
      indexTitle="GenTopicsUniversal API reference (from assembly and C# source )"
      name="GenTopicsUniversal pipeline"
      pipelineType="ManagedAssemblyPipeline"
      inputFolderPath="C:\Temp\API reference\ReflectionPipelineLib\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_pure_managed"
      assemblyFilePath="C:\Temp\API reference\ReflectionPipelineLib\ReferencePipelineLib\bin\Debug\ReferencePipelineLib.dll"
      siteConfigReferenceRoot="/GTU_reference_pure_managed">
      <!--<namespaces>
        <add name="OsgContentPublishing.ReferencePipelineLib" />
      </namespaces>-->
    </add>
    <add
      contentSet="GenTopicsUniversal"
      indexTitle="ReflectionUtilities API reference (from assembly and C# source )"
      name="ReflectionUtilities pipeline"
      pipelineType="ManagedAssemblyPipeline"
      inputFolderPath="C:\Temp\API reference\ReflectionUtilities\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
      assemblyFilePath="C:\Temp\API reference\ReflectionUtilities\ReflectionUtilities.dll"
      siteConfigReferenceRoot="/GTU_reference_managed_assembly">
      <namespaces>
        <add name="ReflectionUtilities" />
      </namespaces>
    </add>
    <add
      contentSet="GenTopicsUniversal"
      indexTitle="ReflectionUtilities API reference (C# source code only)"
      name="ReflectionUtilities pure-managed pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\ReflectionUtilities_pure_managed\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_pure_managed"
      siteConfigReferenceRoot="/GTU_reference_pure_managed">
      <namespaces>
        <add name="ReflectionUtilities" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>