<pipelinesSection>
  <pipelines>
    <!-- This pipeline collects all of the Analog APIs that are represented in Windows.winmd. -->
    <add
      contentSet="Analog"
      indexTitle="HoloLens platform API reference"
      name="HoloLens DevPlat RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\analog_core_idl\xml"
      outputFolderPath="C:\Temp\API reference\analog_core_idl\html"
      winmdFilePath="C:\Temp\API reference\analog_core_idl\Windows.Preview.Holographic.HolographicContract.winmd"
      siteConfigReferenceRoot="/Reference">
      <namespaces>
        <add name="Windows.ApplicationModel.Core" />
        <add name="Windows.Human.*" />
        <add name="Windows.World.*" />
        <add name="Windows.Foundation.Numerics" />
        <add name="Windows.Foundation.Geometry" />
        <add name="Windows.Graphics.DirectX" />
        <add name="Windows.Graphics.Display" />
        <add name="Windows.Graphics.Holographic" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>