<!-- This content set collects the PlayReady APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- This pipeline represents the native Windows.Media.Protection.PlayReady API surface. -->
    <add
      contentSet="PlayReady"
      indexTitle="PlayReady APIs"
      name="PlayReady pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\PlayReady\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\PlayReady"
      siteConfigReferenceRoot="/PlayReady">
      <namespaces>
        <add name="Windows.Media.Protection.PlayReady" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>