<pipelinesSection>
  <pipelines>
    <!-- Xbox Live Services is pure-managed pipeline. -->
    <!--<add
      contentSet="Xbox Live Services"
      indexTitle="Xbox Live Services API reference (source code only)"
      name="Xbox Live Services pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\XboxLiveServices\Docs\Doxygen\doxygen-temp\xml"
      outputFolderPath="C:\Temp\API reference\XboxLiveServices\Docs\Doxygen\doxygen-temp\GTU_output"
      siteConfigReferenceRoot="">
      <namespaces>
        <add name="Microsoft.Xbox.*" />
      </namespaces>
    </add>-->
  <add
      contentSet="Xbox Live Services"
      indexTitle="Chat audio API reference (source code and winmd)"
      name="Chat audio RIDL pure-native pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\XboxLiveServices\Docs\xblsdk_winrt\ChatAudio_xml"
      outputFolderPath="C:\Temp\API reference\XboxLiveServices\Docs\xblsdk_winrt\ChatAudio_GTU"
      winmdFilePath="C:\Temp\API reference\XboxLiveServices\microsoft.xbox.chataudio.winmd"
      siteConfigReferenceRoot="">
      <namespaces>
        <add name="Microsoft.Xbox.*" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>
