<pipelinesSection>
  <pipelines>
    <!-- Xbox Live Services is pure-managed pipeline. -->
    <add
      contentSet="Xbox Live Services"
      indexTitle="Xbox Live Services API reference (source code only)"
      name="Xbox Live Services pure-native pipeline"
      pipelineType="ManagedPipeline"
      inputFolderPath="C:\Temp\API reference\xsapi120_pc_winrt\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\XboxLiveServices_codeonly"
      siteConfigReferenceRoot="/XboxLiveServices_codeonly">
      <!--<namespaces>
        <add name="Microsoft.Xbox.Services" />
      </namespaces>-->
    </add>
    <add
      contentSet="Xbox Live Services"
      indexTitle="Xbox Live Services API reference (from code and winmd)"
      name="Xbox Live Services RIDL pipeline"
      pipelineType="RidlPipeline"
      inputFolderPath="C:\Temp\API reference\xsapi120_pc_winrt\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\XboxLiveServices"
      winmdFilePath="C:\Temp\API reference\xsapi120_pc_winrt\Microsoft.Xbox.Services.winmd"
      siteConfigReferenceRoot="/XboxLiveServices"
      enableLooseTypeComparisons="true">
      <namespaces>
        <add name="Microsoft.Xbox.Services" />
      </namespaces>
    </add>
  </pipelines>
</pipelinesSection>