<!-- This content set collects the XTools native APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- The XTools pure-native pipeline. -->
    <add
      contentSet="XTools"
      indexTitle="Cross-platform, realtime collaboration library"
      name="XTools Native pure-native pipeline"
      pipelineType="NativePipeline"
      inputFolderPath="C:\Temp\API reference\analog_hdk\Xtools native\Docs\C++\xml"
      outputFolderPath="C:\Temp\API reference\analog_hdk\Xtools native\Docs\C++\GTU_output"
      siteConfigReferenceRoot="">
    </add>
  </pipelines>
</pipelinesSection>