<!-- This content set collects all of the Analog APIs. -->
<pipelinesSection>
  <pipelines>
    <!-- This pipeline is for Xtools generated interfaces. -->
    <add
      contentSet="Analog"
      indexTitle="Xtools Java API reference"
      name="Xtools Java generated interface pipeline"
      pipelineType="GeneratedPipeline"
      nativeFolderPath="C:\Temp\API reference\analog_hdk\Xtools native\xml"
      inputFolderPath="C:\Temp\API reference\analog_hdk\XtoolsGeneratedInterface\JavaAPI\xml"
      outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\XtoolsJava"
      siteConfigReferenceRoot="/XtoolsJava">
      <!--<namespaces>
        <add name="Windows.Human" />
        <add name="Windows.World" />
        <add name="Windows.Foundation.Numerics" />
        <add name="Windows.Foundation.Geometry" />
        <add name="Windows.Graphics.DirectX" />
        <add name="Windows.Graphics.Display" />
      </namespaces>-->
    </add>
  </pipelines>
</pipelinesSection>