<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="pipelinesGroup">
      <!--This section indicates where the API reference generation pipelines are specified in this configuration file.-->
      <section name="pipelinesSection" type="OsgContentPublishing.GenTopicsUniversal.Configuration.PipelinesSection, GenTopicsUniversal, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- This section defines the API reference generation pipelines that GenTopicsUniversal attempts to run. -->
  <pipelinesGroup>
    <!-- Note that only one of these can appear per App.config file. -->
    <!--<pipelinesSection configSource="Configuration\Contoso v0.2 core API content set.config"/>-->
    <!--<pipelinesSection configSource="Configuration\Contoso production content set.config"/>-->
    <!--<pipelinesSection configSource="Configuration\GenTopicsUniversal content set.config"/>-->
    <pipelinesSection configSource="Configuration\Contoso v0.9 APIs.config"/>
  </pipelinesGroup>
</configuration>
