<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="pipelinesGroup">
      <!--This section indicates where the API reference generation pipelines are specified in this configuration file.-->
      <section
        name="pipelinesSection"
        type="OsgContentPublishing.GenTopicsUniversal.Configuration.PipelinesSection, GenTopicsUniversal, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- This section defines the API reference generation pipelines that GenTopicsUniversal attempts to run. -->
  <pipelinesGroup>
    <pipelinesSection>
      <pipelines>
        <!--<PipelineElement configSource="Analog v0.2 MPC API pipeline.config" />-->
        <!-- Add a RIDL/WinRT pipeline for testing. -->
        <add
          contentSet="Analog"
          indexTitle="v0.2 MPC API reference"
          name="Analog DevPlat RIDL pipeline"
          pipelineType="RidlPipeline"
          inputFolderPath="C:\Temp\API reference\source_ridl\xml"
          outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
          winmdFilePath="C:\Temp\API reference\source_ridl\Windows.winmd"
          siteConfigReferenceRoot="/Reference">
          <namespaces>
            <add name="Windows.Human" />
            <add name="Windows.World" />
            <add name="Windows.Foundation.Numerics" />
            <add name="Windows.Foundation.Geometry" />
            <add name="Windows.Graphics.DirectX" />
            <add name="Windows.Graphics.Display" />
          </namespaces>
        </add>
        <!-- Add a COM/IDL pipeline for testing. -->
        <add
          contentSet="Analog"
          indexTitle="HRTF API reference"
          name="Analog HRTF pure-native pipeline"
          pipelineType="NativePipeline"
          inputFolderPath="C:\Temp\API reference\source_idl\xml"
          outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\Reference"
          siteConfigReferenceRoot="/Reference">
        </add>
        <!-- Add a pure managed (no assembly) pipeline for testing. -->
        <add
          contentSet="GenTopicsUniversal"
          indexTitle="GenTopicsUniversal API reference (from C# source code only)"
          name="GenTopicsUniversal pure-managed pipeline"
          pipelineType="ManagedPipeline"
          inputFolderPath="C:\Temp\API reference\ReflectionPipelineLib\xml"
          outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
          siteConfigReferenceRoot="/GTU_reference_managed_assembly">
          <namespaces>
            <add name="OsgContentPublishing.ReferencePipelineLib" />
          </namespaces>
        </add>
        <!-- Add a managed (with assembly) pipeline for testing. -->
        <add
          contentSet="GenTopicsUniversal"
          indexTitle="GenTopicsUniversal API reference (from assembly and C# source )"
          name="GenTopicsUniversal pipeline"
          pipelineType="ManagedAssemblyPipeline"
          inputFolderPath="C:\Temp\API reference\ReflectionPipelineLib\xml"
          outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_pure_managed"
          assemblyFilePath="C:\Temp\API reference\ReflectionPipelineLib\ReferencePipelineLib\bin\Debug\ReferencePipelineLib.dll"
          siteConfigReferenceRoot="/GTU_reference_pure_managed">
          <namespaces>
            <add name="OsgContentPublishing.ReferencePipelineLib" />
          </namespaces>
        </add>
        <add
          contentSet="GenTopicsUniversal"
          indexTitle="ReflectionUtilities API reference (from assembly and C# source )"
          name="ReflectionUtilities pipeline"
          pipelineType="ManagedAssemblyPipeline"
          inputFolderPath="C:\Temp\API reference\ReflectionUtilities\xml"
          outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_managed_assembly"
          assemblyFilePath="C:\Temp\API reference\ReflectionUtilities\ReflectionUtilities.dll"
          siteConfigReferenceRoot="/GTU_reference_managed_assembly">
          <namespaces>
            <add name="ReflectionUtilities" />
          </namespaces>
        </add>
        <add
          contentSet="GenTopicsUniversal"
          indexTitle="ReflectionUtilities API reference (C# source code only)"
          name="ReflectionUtilities pure-managed pipeline"
          pipelineType="ManagedPipeline"
          inputFolderPath="C:\Temp\API reference\ReflectionUtilities_pure_managed\xml"
          outputFolderPath="C:\Users\jgalasyn\Documents\DemoSite\DemoSite\OpenAuthoringPlatform\content\GTU_reference_pure_managed"
          siteConfigReferenceRoot="/GTU_reference_pure_managed">
          <namespaces>
            <add name="ReflectionUtilities" />
          </namespaces>
        </add>

      </pipelines>
    </pipelinesSection>
  </pipelinesGroup>
</configuration>